* {
    width: 970px;
}
input {
    display: inline-block;
    width: 200px;
    margin-left: 50px;
}
#button {
    display: inline-block;
    width: 100px;
}
div {
    text-align: center;
}
th {
    text-align: left;
    border: 2px solid gray;
}
